body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #333;
    color: white;
}

img { 
    width: 90px;
    height: 90px;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 70vh;
    background-color: #333;
    padding: 10px;
}
  
.row {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #555;
    color: black;
}
  
.label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    margin-right: 10px;
    background-color: green;
    font-weight: bold;
    font-style: italic;
}
  
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    height: 90px;
    width: 90px;
    color: black;
}

footer {
    padding: 10px;
    font-size: 12px;
}
